---

---
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page-head{
    color: rgb(209, 250, 255);
}
.sidebar .nav__list{
    color:rgb(209, 250, 255);
    padding-top: 2rem;
    border-top: 1px solid #51555d;
    li:hover{
        color: rgba(98, 121, 255, 0.699)
    }
}